<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <span class="icon icon--mastodon">{% include mastodon-svgrepo-com.svg %}</span>
            <a rel="me" href="https://mastodon.nl/@doekman">mastodon.nl/@doekman</a>
          </li>
          {% comment %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% endcomment %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.keybase_username %}
          <li>
            {% include icon-keybase.html username=site.keybase_username %}
          </li>
          {% endif %}
          {% comment %}<li>
              <span style="color:#828282;size:150%;text-decoration:none" title="Micro.blog">☆</span> <a href="https://micro.blog/doekman" rel="me" />doekman</a>
          </li>{% endcomment %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
<link rel="stylesheet" href="{{ '/css/no_cookies.css' | prepend: site.baseurl }}">
<script src="{{ site.baseurl }}{% link js/no_cookies.js %}"></script>
